html,
body,
#root,
section,
main {
  height: 100%;
}

/* 拟物风卡片样式 */
.neu-card {
  border-radius: 15px;
  @apply bg-zinc-100 dark:bg-zinc-800 shadow-neu dark:shadow-neu-dark;
}
/* 拟物风小卡片样式 */
.neu-card-mini{
  border-radius: 15px;
  @apply bg-zinc-100 dark:bg-zinc-800 shadow-neu-mini dark:shadow-neu-mini-dark;
}
